body{ /*colore del font e style della pagina*/
	margin:0px;
	color: black;
	font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fafafa;
}

@media(max-width:900px) /*per adattamento mobile */
{
	body{
		font-size: 13px;
	}
}

main{
    display: flex;
    flex-direction: row;
}
main section{
    width: 50%;
    flex-grow: 1;
}

section{/*margini della sezione*/
    display:flex ;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;


}

@media(max-width:900px){
    section{
        margin:0%;
    }
}


section div{
    width: 100%;
    height: 100%;

}



#locus{
    margin: 100px 0px 100px 100px;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
#locus-form{
    margin: 100px 100px 100px 0px;
}

#logo img {
    width: 100%;
    height: 100%;

}




@media(max-width: 600px) {
    main #locus-form{
        width: 100%;
    }
    #locus{
        display: none;
    }
    #locus-form{
        margin: 0px 0px 0px 0px ;

    }
}




#main-div{
    background-color: white;

}




form{
    margin:20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;

}


form h1{
    text-align: center;
    color:rgb(26,50,96);

}
form img{
    margin-left:auto;
    margin-right: auto;
    height: 50px;
    width: 100px;

}
form h1{
    text-align: center;
    color:rgb(26,50,96);

}
form img{
    margin-left:auto;
    margin-right: auto;
    height: 50px;
    width: 100px;

}

a{ /*per manina*/
	cursor: pointer;
}

label{
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin: 7px 0px 5px 0px;
}
@media(max-width: 500px) {

    label{
        justify-content: center;
    }

}



input{

width:200px;
height:30px;

}

@media(max-width: 500px) {

    input{
        width:100%;
        height:30px;
    }

}




 span{

    font-size:12px;
    color:#8e8e8e;

}

@media(max-width: 500px) {

    span{
        text-align: center;
        font-size: 10px;
    }

}



#invio{
    display: block;
    border-radius: 20px;
    color:white;
    background-color: rgba(26,50,96,1);
    border: none;
    width: 76px;
    height: 36px;
    margin: 10px 0px 10px 0px;
}
#accettazione{
    width: 30px;
    height: 15px;

}

#checker p
{
  display: block;
  margin: 0px;

  font-size: 12px;
  line-height: 16px;
   letter-spacing: 1px;

}

 .error{
    opacity: 1;
    font-size: 11px;
    color: #fa1c2c;
}


.ok{
    font-weight: bold;
    color: lightgreen;
    transition:  margin-right 2s;
}

